# Ignore Python cache directories
__pycache__/
*.py[cod]

log
*/*.txt
DevEval/
data_process/repocode/aioxmpp_classes.json
data_process/repocode/aioxmpp_functions.json
data_process/repocode/aioxmpp_methods.json
data_process/repocode/albumentations_classes.json
data_process/repocode/albumentations_functions.json
data_process/repocode/albumentations_methods.json
data_process/repocode/alembic_classes.json
data_process/repocode/alembic_functions.json
data_process/repocode/alembic_methods.json
data_process/repocode/arctic-latest_classes.json
data_process/repocode/arctic-latest_functions.json
data_process/repocode/arctic-latest_methods.json
data_process/repocode/asyncpg_classes.json
data_process/repocode/asyncpg_functions.json
data_process/repocode/asyncpg_methods.json
data_process/repocode/asyncssh_classes.json
data_process/repocode/asyncssh_functions.json
data_process/repocode/asyncssh_methods.json
data_process/repocode/Authlib_classes.json
data_process/repocode/Authlib_functions.json
data_process/repocode/Authlib_methods.json
data_process/repocode/awesome-autodl_classes.json
data_process/repocode/awesome-autodl_functions.json
data_process/repocode/awesome-autodl_methods.json
data_process/repocode/backtrader_classes.json
data_process/repocode/backtrader_functions.json
data_process/repocode/backtrader_methods.json
data_process/repocode/barf_classes.json
data_process/repocode/barf_functions.json
data_process/repocode/barf_methods.json
data_process/repocode/bentoml_classes.json
data_process/repocode/bentoml_functions.json
data_process/repocode/bentoml_methods.json
data_process/repocode/boltons_classes.json
data_process/repocode/boltons_functions.json
data_process/repocode/boltons_methods.json
data_process/repocode/boto_classes.json
data_process/repocode/boto_functions.json
data_process/repocode/boto_methods.json
data_process/repocode/bplustree_classes.json
data_process/repocode/bplustree_functions.json
data_process/repocode/bplustree_methods.json
data_process/repocode/capirca_classes.json
data_process/repocode/capirca_functions.json
data_process/repocode/capirca_methods.json
data_process/repocode/chatette_classes.json
data_process/repocode/chatette_functions.json
data_process/repocode/chatette_methods.json
data_process/repocode/csvkit_classes.json
data_process/repocode/csvkit_functions.json
data_process/repocode/csvkit_methods.json
data_process/repocode/csvs-to-sqlite_classes.json
data_process/repocode/csvs-to-sqlite_functions.json
data_process/repocode/csvs-to-sqlite_methods.json
data_process/repocode/cupy_classes.json
data_process/repocode/cupy_functions.json
data_process/repocode/cupy_methods.json
data_process/repocode/dash_classes.json
data_process/repocode/dash_functions.json
data_process/repocode/dash_methods.json
data_process/repocode/databases_classes.json
data_process/repocode/databases_functions.json
data_process/repocode/databases_methods.json
data_process/repocode/datasets_classes.json
data_process/repocode/datasets_functions.json
data_process/repocode/datasets_methods.json
data_process/repocode/datasette_classes.json
data_process/repocode/datasette_functions.json
data_process/repocode/datasette_methods.json
data_process/repocode/diffprivlib_classes.json
data_process/repocode/diffprivlib_functions.json
data_process/repocode/diffprivlib_methods.json
data_process/repocode/diffusers_classes.json
data_process/repocode/diffusers_functions.json
data_process/repocode/diffusers_methods.json
data_process/repocode/discord-py_classes.json
data_process/repocode/discord-py_functions.json
data_process/repocode/discord-py_methods.json
data_process/repocode/Django_classes.json
data_process/repocode/Django_functions.json
data_process/repocode/Django_methods.json
data_process/repocode/djangorestframework_classes.json
data_process/repocode/djangorestframework_functions.json
data_process/repocode/djangorestframework_methods.json
data_process/repocode/djangorestframework-simplejwt_classes.json
data_process/repocode/djangorestframework-simplejwt_functions.json
data_process/repocode/djangorestframework-simplejwt_methods.json
data_process/repocode/dominate_classes.json
data_process/repocode/dominate_functions.json
data_process/repocode/dominate_methods.json
data_process/repocode/ehforwarderbot_classes.json
data_process/repocode/ehforwarderbot_functions.json
data_process/repocode/ehforwarderbot_methods.json
data_process/repocode/exodus-bundler_classes.json
data_process/repocode/exodus-bundler_functions.json
data_process/repocode/exodus-bundler_methods.json
data_process/repocode/Faker_classes.json
data_process/repocode/Faker_functions.json
data_process/repocode/Faker_methods.json
data_process/repocode/falcon_classes.json
data_process/repocode/falcon_functions.json
data_process/repocode/falcon_methods.json
data_process/repocode/feedparser_classes.json
data_process/repocode/feedparser_functions.json
data_process/repocode/feedparser_methods.json
data_process/repocode/flower_classes.json
data_process/repocode/flower_functions.json
data_process/repocode/flower_methods.json
data_process/repocode/folium_classes.json
data_process/repocode/folium_functions.json
data_process/repocode/folium_methods.json
data_process/repocode/fs_classes.json
data_process/repocode/fs_functions.json
data_process/repocode/fs_methods.json
data_process/repocode/gif-for-cli_classes.json
data_process/repocode/gif-for-cli_functions.json
data_process/repocode/gif-for-cli_methods.json
data_process/repocode/google-api-python-client_classes.json
data_process/repocode/google-api-python-client_functions.json
data_process/repocode/google-api-python-client_methods.json
data_process/repocode/gunicorn_classes.json
data_process/repocode/gunicorn_functions.json
data_process/repocode/gunicorn_methods.json
data_process/repocode/happybase_classes.json
data_process/repocode/happybase_functions.json
data_process/repocode/happybase_methods.json
data_process/repocode/hbmqtt_classes.json
data_process/repocode/hbmqtt_functions.json
data_process/repocode/hbmqtt_methods.json
data_process/repocode/hl7_classes.json
data_process/repocode/hl7_functions.json
data_process/repocode/hl7_methods.json
data_process/repocode/hypertools_classes.json
data_process/repocode/hypertools_functions.json
data_process/repocode/hypertools_methods.json
data_process/repocode/IMAPClient_classes.json
data_process/repocode/IMAPClient_functions.json
data_process/repocode/IMAPClient_methods.json
data_process/repocode/jc_classes.json
data_process/repocode/jc_functions.json
data_process/repocode/jc_methods.json
data_process/repocode/Jinja2_classes.json
data_process/repocode/Jinja2_functions.json
data_process/repocode/Jinja2_methods.json
data_process/repocode/kinto_classes.json
data_process/repocode/kinto_functions.json
data_process/repocode/kinto_methods.json
data_process/repocode/litecli_classes.json
data_process/repocode/litecli_functions.json
data_process/repocode/litecli_methods.json
data_process/repocode/lux_classes.json
data_process/repocode/lux_functions.json
data_process/repocode/lux_methods.json
data_process/repocode/mackup_classes.json
data_process/repocode/mackup_functions.json
data_process/repocode/mackup_methods.json
data_process/repocode/mingus_classes.json
data_process/repocode/mingus_functions.json
data_process/repocode/mingus_methods.json
data_process/repocode/mistune_classes.json
data_process/repocode/mistune_functions.json
data_process/repocode/mistune_methods.json
data_process/repocode/mmcv_classes.json
data_process/repocode/mmcv_functions.json
data_process/repocode/mmcv_methods.json
data_process/repocode/mongo-doc-manager_classes.json
data_process/repocode/mongo-doc-manager_functions.json
data_process/repocode/mongo-doc-manager_methods.json
data_process/repocode/mongoengine_classes.json
data_process/repocode/mongoengine_functions.json
data_process/repocode/mongoengine_methods.json
data_process/repocode/Mopidy_classes.json
data_process/repocode/Mopidy_functions.json
data_process/repocode/Mopidy_methods.json
data_process/repocode/mrjob_classes.json
data_process/repocode/mrjob_functions.json
data_process/repocode/mrjob_methods.json
data_process/repocode/mssql-cli_classes.json
data_process/repocode/mssql-cli_functions.json
data_process/repocode/mssql-cli_methods.json
data_process/repocode/msticpy_classes.json
data_process/repocode/msticpy_functions.json
data_process/repocode/msticpy_methods.json
data_process/repocode/natasha_classes.json
data_process/repocode/natasha_functions.json
data_process/repocode/natasha_methods.json
data_process/repocode/oletools_classes.json
data_process/repocode/oletools_functions.json
data_process/repocode/oletools_methods.json
data_process/repocode/online-judge-tools_classes.json
data_process/repocode/online-judge-tools_functions.json
data_process/repocode/online-judge-tools_methods.json
data_process/repocode/pandas-profiling_classes.json
data_process/repocode/pandas-profiling_functions.json
data_process/repocode/pandas-profiling_methods.json
data_process/repocode/parsel_classes.json
data_process/repocode/parsel_functions.json
data_process/repocode/parsel_methods.json
data_process/repocode/passpie_classes.json
data_process/repocode/passpie_functions.json
data_process/repocode/passpie_methods.json
data_process/repocode/peewee_classes.json
data_process/repocode/peewee_functions.json
data_process/repocode/peewee_methods.json
data_process/repocode/praw_classes.json
data_process/repocode/praw_functions.json
data_process/repocode/praw_methods.json
data_process/repocode/principalmapper_classes.json
data_process/repocode/principalmapper_functions.json
data_process/repocode/principalmapper_methods.json
data_process/repocode/prometheus-client_classes.json
data_process/repocode/prometheus-client_functions.json
data_process/repocode/prometheus-client_methods.json
data_process/repocode/proxybroker_classes.json
data_process/repocode/proxybroker_functions.json
data_process/repocode/proxybroker_methods.json
data_process/repocode/psd-tools_classes.json
data_process/repocode/psd-tools_functions.json
data_process/repocode/psd-tools_methods.json
data_process/repocode/pycoin_classes.json
data_process/repocode/pycoin_functions.json
data_process/repocode/pycoin_methods.json
data_process/repocode/pycorrector_classes.json
data_process/repocode/pycorrector_functions.json
data_process/repocode/pycorrector_methods.json
data_process/repocode/pyinfra_classes.json
data_process/repocode/pyinfra_functions.json
data_process/repocode/pyinfra_methods.json
data_process/repocode/PyJWT_classes.json
data_process/repocode/PyJWT_functions.json
data_process/repocode/PyJWT_methods.json
data_process/repocode/PyLaTeX_classes.json
data_process/repocode/PyLaTeX_functions.json
data_process/repocode/PyLaTeX_methods.json
data_process/repocode/pymc_classes.json
data_process/repocode/pymc_functions.json
data_process/repocode/pymc_methods.json
data_process/repocode/pymorphy2_classes.json
data_process/repocode/pymorphy2_functions.json
data_process/repocode/pymorphy2_methods.json
data_process/repocode/pymusic-dl_classes.json
data_process/repocode/pymusic-dl_functions.json
data_process/repocode/pymusic-dl_methods.json
data_process/repocode/pyOpenSSL_classes.json
data_process/repocode/pyOpenSSL_functions.json
data_process/repocode/pyOpenSSL_methods.json
data_process/repocode/pyramid_classes.json
data_process/repocode/pyramid_functions.json
data_process/repocode/pyramid_methods.json
data_process/repocode/PySimpleSOAP_classes.json
data_process/repocode/PySimpleSOAP_functions.json
data_process/repocode/PySimpleSOAP_methods.json
data_process/repocode/PySnooper_classes.json
data_process/repocode/PySnooper_functions.json
data_process/repocode/PySnooper_methods.json
data_process/repocode/python-benedict_classes.json
data_process/repocode/python-benedict_functions.json
data_process/repocode/python-benedict_methods.json
data_process/repocode/python-for-android_classes.json
data_process/repocode/python-for-android_functions.json
data_process/repocode/python-for-android_methods.json
data_process/repocode/python-taint_classes.json
data_process/repocode/python-taint_functions.json
data_process/repocode/python-taint_methods.json
data_process/repocode/python-twitter_classes.json
data_process/repocode/python-twitter_functions.json
data_process/repocode/python-twitter_methods.json
data_process/repocode/pytube_classes.json
data_process/repocode/pytube_functions.json
data_process/repocode/pytube_methods.json
data_process/repocode/rows_classes.json
data_process/repocode/rows_functions.json
data_process/repocode/rows_methods.json
data_process/repocode/rq_classes.json
data_process/repocode/rq_functions.json
data_process/repocode/rq_methods.json
data_process/repocode/sacred_classes.json
data_process/repocode/sacred_functions.json
data_process/repocode/sacred_methods.json
data_process/repocode/sqlite-utils_classes.json
data_process/repocode/sqlite-utils_functions.json
data_process/repocode/sqlite-utils_methods.json
data_process/repocode/sqlitedict_classes.json
data_process/repocode/sqlitedict_functions.json
data_process/repocode/sqlitedict_methods.json
data_process/repocode/sshuttle_classes.json
data_process/repocode/sshuttle_functions.json
data_process/repocode/sshuttle_methods.json
data_process/repocode/sslyze_classes.json
data_process/repocode/sslyze_functions.json
data_process/repocode/sslyze_methods.json
data_process/repocode/stellar_classes.json
data_process/repocode/stellar_functions.json
data_process/repocode/stellar_methods.json
data_process/repocode/sumy_classes.json
data_process/repocode/sumy_functions.json
data_process/repocode/sumy_methods.json
data_process/repocode/Telethon_classes.json
data_process/repocode/Telethon_functions.json
data_process/repocode/Telethon_methods.json
data_process/repocode/threatingestor_classes.json
data_process/repocode/threatingestor_functions.json
data_process/repocode/threatingestor_methods.json
data_process/repocode/TPOT_classes.json
data_process/repocode/TPOT_functions.json
data_process/repocode/TPOT_methods.json
data_process/repocode/trackerjacker_classes.json
data_process/repocode/trackerjacker_functions.json
data_process/repocode/trackerjacker_methods.json
data_process/repocode/trailscraper_classes.json
data_process/repocode/trailscraper_functions.json
data_process/repocode/trailscraper_methods.json
data_process/repocode/twilio-fatisar_classes.json
data_process/repocode/twilio-fatisar_functions.json
data_process/repocode/twilio-fatisar_methods.json
data_process/repocode/twtxt_classes.json
data_process/repocode/twtxt_functions.json
data_process/repocode/twtxt_methods.json
data_process/repocode/viztracer_classes.json
data_process/repocode/viztracer_functions.json
data_process/repocode/viztracer_methods.json
data_process/repocode/wal-e_classes.json
data_process/repocode/wal-e_functions.json
data_process/repocode/wal-e_methods.json
data_process/repocode/wandb_classes.json
data_process/repocode/wandb_functions.json
data_process/repocode/wandb_methods.json
data_process/repocode/whereami_classes.json
data_process/repocode/whereami_functions.json
data_process/repocode/whereami_methods.json
data_process/repocode/Wikipedia-API_classes.json
data_process/repocode/Wikipedia-API_functions.json
data_process/repocode/Wikipedia-API_methods.json
data_process/repocode/xmnlp_classes.json
data_process/repocode/xmnlp_functions.json
data_process/repocode/xmnlp_methods.json
data_process/repocode/ydata-profiling_classes.json
data_process/repocode/ydata-profiling_functions.json
data_process/repocode/ydata-profiling_methods.json
data_process/repocode/zulip-term_classes.json
data_process/repocode/zulip-term_functions.json
data_process/repocode/zulip-term_methods.json
data_process/repocode/zxcvbn-python_classes.json
data_process/repocode/zxcvbn-python_functions.json
data_process/repocode/zxcvbn-python_methods.json
data_process/extract.py
